In [3]:
import pandas as pd

In [6]:
selloutData = pd.read_csv("E:/kopocloud/dataset/kopo_channel_seasonality_new.csv")

In [15]:
def monthCvt(inColumn):
    #디버깅코드
#   inColumn = "201402"
    inWeek = int(str(inColumn)[4:])

    if inWeek < 5:
        outValue =  "1월"
    elif inWeek < 9:
        outValue =  "2월"
    else:
        outValue =  "다른월"
    return outValue

In [18]:
selloutData.loc[(selloutData.YEARWEEK.astype(str).str[4:].astype(int)<5),"MONTH2"]  = 1
selloutData.loc[(selloutData.YEARWEEK.astype(str).str[4:].astype(int)>=5)&
                (selloutData.YEARWEEK.astype(str).str[4:].astype(int)<10),"MONTH2"] = 2

In [19]:
selloutData["MONTH"] = selloutData.YEARWEEK.apply(monthCvt)

In [21]:
preFix = "1207"
def monthCvt(inColumn, appe):
    #디버깅코드
#   inColumn = "201402"
    inWeek = int(str(inColumn)[4:])

    if inWeek < 5:
        outValue =  "1월"
    elif inWeek < 9:
        outValue =  "2월"
    else:
        outValue =  "다른월"
    outValue = appe + outValue
    return outValue

In [22]:
selloutData.YEARWEEK.apply(monthCvt, appe=preFix)

0          12071월
1          12071월
2          12071월
3          12071월
4          12071월
5          12071월
6          12071월
7          12071월
8          12071월
9          12071월
10         12071월
11         12071월
12         12071월
13         12071월
14         12071월
15         12071월
16         12071월
17         12071월
18         12071월
19         12071월
20         12071월
21         12071월
22         12071월
23         12071월
24         12071월
25         12071월
26         12071월
27         12071월
28         12071월
29         12071월
           ...
124628    1207다른월
124629    1207다른월
124630    1207다른월
124631    1207다른월
124632    1207다른월
124633    1207다른월
124634    1207다른월
124635    1207다른월
124636    1207다른월
124637    1207다른월
124638    1207다른월
124639    1207다른월
124640    1207다른월
124641    1207다른월
124642    1207다른월
124643    1207다른월
124644    1207다른월
124645    1207다른월
124646    1207다른월
124647    1207다른월
124648    1207다른월
124649    1207다른월
124650    1207다른월
124651    1207다른월
124652    1207다른월
124653    1207다른월
124654    1207다른월
124655    1207다른월
124656    1207다른월
124657    1207다른월
Name: YEARWEEK, Length: 124658, dtype: object

In [25]:
kopoProductValume = pd.read_csv("E:/kopocloud/dataset/kopo_product_volume.csv")

In [33]:
kopoProductValume.shape

(265, 4)

In [37]:
sortKey = ["REGIONID", "PRODUCTGROUP","YEARWEEK"]

In [38]:
sortData = kopoProductValume.sort_values(sortKey)

In [39]:
sortData

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
33       A01       ST0001    201401  513598
21       A01       ST0001    201402  438251
27       A01       ST0001    201403  420290
35       A01       ST0001    201404  458431
23       A01       ST0001    201405  482381
29       A01       ST0001    201406  570412
17       A01       ST0001    201407  620392
25       A01       ST0001    201408  571781
31       A01       ST0001    201409  569545
19       A01       ST0001    201410  511679
6        A01       ST0001    201411  524787
14       A01       ST0001    201412  486509
4        A01       ST0001    201413  470040
12       A01       ST0001    201414  428195
0        A01       ST0001    201415  810144
8        A01       ST0001    201416  764927
15       A01       ST0001    201417  697502
2        A01       ST0001    201418  671464
10       A01       ST0001    201419  682757
263      A01       ST0001    201420  645626
67       A01       ST0001    201421  620290
75       A01       ST0001    201422  603104
61       A01       ST0001    201423  610479
71       A01       ST0001    201424  589613
57       A01       ST0001    201425  618699
63       A01       ST0001    201426  586721
73       A01       ST0001    201427  599043
59       A01       ST0001    201428  587529
69       A01       ST0001    201429  620882
77       A01       ST0001    201430  643984
..       ...          ...       ...     ...
220      A01       ST0002    201550  294579
208      A01       ST0002    201551  356271
196      A01       ST0002    201552  422468
202      A01       ST0002    201553  232523
190      A01       ST0002    201601  162801
200      A01       ST0002    201602  137186
188      A01       ST0002    201603  152763
198      A01       ST0002    201604  197057
186      A01       ST0002    201605  231214
194      A01       ST0002    201606  172230
204      A01       ST0002    201607  161324
192      A01       ST0002    201608  130000
258      A01       ST0002    201609  154149
246      A01       ST0002    201610  142575
254      A01       ST0002    201611  150915
244      A01       ST0002    201612  132780
252      A01       ST0002    201613  135788
260      A01       ST0002    201614  148835
250      A01       ST0002    201615  143180
257      A01       ST0002    201616  137927
248      A01       ST0002    201617  142279
240      A01       ST0002    201618  162560
232      A01       ST0002    201619  152980
238      A01       ST0002    201620  160913
228      A01       ST0002    201621  205984
236      A01       ST0002    201622  214929
226      A01       ST0002    201623  161983
234      A01       ST0002    201624  171592
242      A01       ST0002    201625  157283
230      A01       ST0002    201626  196489

[265 rows x 4 columns]

In [42]:
sortData["MA"] = sortData.VOLUME.rolling(window=5,
                                center=True,
                                min_periods=1).mean()

In [44]:
sortData.to_csv("./maresult.csv")

In [4]:
kopoProductValume = pd.read_csv("E:/kopocloud/dataset/kopo_product_volume.csv")

In [5]:
sortKey = ["REGIONID","PRODUCTGROUP","YEARWEEK"]

In [6]:
kopoProductValume = kopoProductValume.reset_index()

In [7]:
sortedData = kopoProductValume.sort_values(sortKey)

In [8]:
groupKey = ["REGIONID", "PRODUCTGROUP"]

In [9]:
groupData = sortedData.groupby(groupKey)

In [10]:
len(groupData.groups)

2

In [11]:
groupData.get_group(list(groupData.groups)[1])

     index REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
34      34      A01       ST0002    201401  155729
22      22      A01       ST0002    201402  123875
28      28      A01       ST0002    201403  114744
36      36      A01       ST0002    201404  137162
24      24      A01       ST0002    201405  180516
30      30      A01       ST0002    201406  139277
18      18      A01       ST0002    201407  146476
26      26      A01       ST0002    201408  156772
32      32      A01       ST0002    201409  141823
20      20      A01       ST0002    201410  153152
7        7      A01       ST0002    201411  145509
262    262      A01       ST0002    201412  151750
5        5      A01       ST0002    201413  140297
13      13      A01       ST0002    201414  137488
1        1      A01       ST0002    201415  128999
9        9      A01       ST0002    201416  140313
16      16      A01       ST0002    201417  127163
3        3      A01       ST0002    201418  134467
11      11      A01       ST0002    201419  128668
264    264      A01       ST0002    201420  125863
68      68      A01       ST0002    201421  132909
76      76      A01       ST0002    201422  143231
62      62      A01       ST0002    201423  125300
72      72      A01       ST0002    201424  139590
58      58      A01       ST0002    201425  128766
64      64      A01       ST0002    201426  135212
74      74      A01       ST0002    201427  184550
60      60      A01       ST0002    201428  142598
70      70      A01       ST0002    201429  154985
78      78      A01       ST0002    201430  133998
..     ...      ...          ...       ...     ...
220    220      A01       ST0002    201550  294579
208    208      A01       ST0002    201551  356271
196    196      A01       ST0002    201552  422468
202    202      A01       ST0002    201553  232523
190    190      A01       ST0002    201601  162801
200    200      A01       ST0002    201602  137186
188    188      A01       ST0002    201603  152763
198    198      A01       ST0002    201604  197057
186    186      A01       ST0002    201605  231214
194    194      A01       ST0002    201606  172230
204    204      A01       ST0002    201607  161324
192    192      A01       ST0002    201608  130000
258    258      A01       ST0002    201609  154149
246    246      A01       ST0002    201610  142575
254    254      A01       ST0002    201611  150915
244    244      A01       ST0002    201612  132780
252    252      A01       ST0002    201613  135788
260    260      A01       ST0002    201614  148835
250    250      A01       ST0002    201615  143180
257    257      A01       ST0002    201616  137927
248    248      A01       ST0002    201617  142279
240    240      A01       ST0002    201618  162560
232    232      A01       ST0002    201619  152980
238    238      A01       ST0002    201620  160913
228    228      A01       ST0002    201621  205984
236    236      A01       ST0002    201622  214929
226    226      A01       ST0002    201623  161983
234    234      A01       ST0002    201624  171592
242    242      A01       ST0002    201625  157283
230    230      A01       ST0002    201626  196489

[132 rows x 5 columns]

In [60]:
A01Group = groupData.get_group(list(groupData.groups)[0])

In [62]:
A02Group = groupData.get_group(list(groupData.groups)[1])

In [76]:
sortData["MAG"] = A01Group.VOLUME.rolling(window=5,
                                center=True,
                                min_periods=1).mean()

In [77]:
sortData["MAG"] = A02Group.VOLUME.rolling(window=5,
                                center=True,
                                min_periods=1).mean()

In [84]:
def groupma(eachGroup):
    eachGroup["MAG"] = eachGroup.VOLUME.rolling(window=5,
                                center=True,
                                min_periods=1).mean()
    return eachGroup

In [85]:
groupResult= sortedData.groupby(groupKey).apply(groupma)

In [12]:
sortedData.groupby(groupKey)

In [86]:
groupResult

     index REGIONID PRODUCTGROUP  YEARWEEK  VOLUME            MAG
33      33      A01       ST0001    201401  513598  457379.666667
21      21      A01       ST0001    201402  438251  457642.500000
27      27      A01       ST0001    201403  420290  462590.200000
35      35      A01       ST0001    201404  458431  473953.000000
23      23      A01       ST0001    201405  482381  510381.200000
29      29      A01       ST0001    201406  570412  540679.400000
17      17      A01       ST0001    201407  620392  562902.200000
25      25      A01       ST0001    201408  571781  568761.800000
31      31      A01       ST0001    201409  569545  559636.800000
19      19      A01       ST0001    201410  511679  532860.200000
6        6      A01       ST0001    201411  524787  512512.000000
14      14      A01       ST0001    201412  486509  484242.000000
4        4      A01       ST0001    201413  470040  543935.000000
12      12      A01       ST0001    201414  428195  591963.000000
0        0      A01       ST0001    201415  810144  634161.600000
8        8      A01       ST0001    201416  764927  674446.400000
15      15      A01       ST0001    201417  697502  725358.800000
2        2      A01       ST0001    201418  671464  692455.200000
10      10      A01       ST0001    201419  682757  663527.800000
263    263      A01       ST0001    201420  645626  644648.200000
67      67      A01       ST0001    201421  620290  632451.200000
75      75      A01       ST0001    201422  603104  613822.400000
61      61      A01       ST0001    201423  610479  608437.000000
71      71      A01       ST0001    201424  589613  601723.200000
57      57      A01       ST0001    201425  618699  600911.000000
63      63      A01       ST0001    201426  586721  596321.000000
73      73      A01       ST0001    201427  599043  602574.800000
59      59      A01       ST0001    201428  587529  607631.800000
69      69      A01       ST0001    201429  620882  624515.200000
77      77      A01       ST0001    201430  643984  640208.400000
..     ...      ...          ...       ...     ...            ...
220    220      A01       ST0002    201550  294579  628673.600000
208    208      A01       ST0002    201551  356271  395110.400000
196    196      A01       ST0002    201552  422468  293728.400000
202    202      A01       ST0002    201553  232523  262249.800000
190    190      A01       ST0002    201601  162801  221548.200000
200    200      A01       ST0002    201602  137186  176466.000000
188    188      A01       ST0002    201603  152763  176204.200000
198    198      A01       ST0002    201604  197057  178090.000000
186    186      A01       ST0002    201605  231214  182917.600000
194    194      A01       ST0002    201606  172230  178365.000000
204    204      A01       ST0002    201607  161324  169783.400000
192    192      A01       ST0002    201608  130000  152055.600000
258    258      A01       ST0002    201609  154149  147792.600000
246    246      A01       ST0002    201610  142575  142083.800000
254    254      A01       ST0002    201611  150915  143241.400000
244    244      A01       ST0002    201612  132780  142178.600000
252    252      A01       ST0002    201613  135788  142299.600000
260    260      A01       ST0002    201614  148835  139702.000000
250    250      A01       ST0002    201615  143180  141601.800000
257    257      A01       ST0002    201616  137927  146956.200000
248    248      A01       ST0002    201617  142279  147785.200000
240    240      A01       ST0002    201618  162560  151331.800000
232    232      A01       ST0002    201619  152980  164943.200000
238    238      A01       ST0002    201620  160913  179473.200000
228    228      A01       ST0002    201621  205984  179357.800000
236    236      A01       ST0002    201622  214929  183080.200000
226    226      A01       ST0002    201623  161983  182354.200000
234    234      A01       ST0002    201624  171592  180455.200000
242    242      A01       ST0002    201625  157283  171836.750000
230    230      A01       ST0002    201626  196489  175121.333333

[265 rows x 6 columns]