In [1]:
import pandas as pd
import numpy as np

In [5]:
##파일로 데이터를 출력하지 않고 개별적인 데이터를 직업 입력하는 경우
#리스트 형태로 데이터 입력
#하나의 리스트는 하나의 행을 구성
productList = ["st0001", "st0002", "st0003"]
yearweekList = ["202001", "202002", "202003"]
qtyList = [10,12,15]

In [7]:
##dataframe 메소드 사용 리스트를 인수로 사용할 경우 행으로 입력

eachDf = pd.DataFrame(yearweekList)

In [8]:
print(eachDf)

        0
0  202001
1  202002
2  202003

In [11]:
#위의 경우에는 컬럼명이 입력되지 않음 따라서 컬럼명을 함께 입력
productDf = pd.DataFrame(productList, columns = ["product"])
yearweekDf = pd.DataFrame(yearweekList, columns= ["yearweek"])
qtyDf = pd.DataFrame(qtyList, columns = ["qty"])

In [12]:
## 각각의 행으로 입력된 정보를 하나의 테이블로 합쳐주기
##3가지 방법 존재

### 1. concat 메소드 활용
### concat 활용시에는 인수가 dataframe형태여야 함
concatDf = pd.concat([productDf, yearweekDf, qtyDf], axis=1)
concatDf

  product yearweek  qty
0  st0001   202001   10
1  st0002   202002   12
2  st0003   202003   15

In [13]:
### 2. zip 메소드 활용
###데이터프레임을 만드는 단계에서 zip을 활용, zip에 들어가는 인수는 리스트 형태, 컬럼명은
###옵션으로 추가 가능

mergedDf = pd.DataFrame(zip(productList,
                           yearweekList,
                           qtyList),
                       columns = ["product", "yearweek", "qty"])
mergedDf.head()

  product yearweek  qty
0  st0001   202001   10
1  st0002   202002   12
2  st0003   202003   15

In [14]:
### 3. 딕셔너리 유형 변수
### key 값이 컬럼명, 테이블의 정보가 리스트 형태일때 그냥 dataframe형태로 변환하면 테이블 생성

productDict = {"product": productList,
              "yearweek": yearweekList,
              "qty": qtyList}
pd.DataFrame(productDict)

  product yearweek  qty
0  st0001   202001   10
1  st0002   202002   12
2  st0003   202003   15

In [2]:
customerData  = pd.read_csv("E:/kopocloud/dataset/customerdata.csv")

In [3]:
##테이블의 상위 5개 열에 대한 정보 출력
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [4]:
##테이블의 열 갯수 및 컬럼명, 컬럼에 대한 타입 등의 정보를 출력
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
CUSTID         150 non-null object
AVGPRICE       150 non-null float64
EMI            150 non-null int64
DEVICECOUNT    150 non-null int64
PRODUCTAGE     150 non-null float64
CUSTTYPE       150 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.1+ KB

In [15]:
### 데이터프레임의 자료의 type 확인을 위해서 info 대신 dtypes 메소드 사용가능

customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [16]:
### 특정행의 특정 값에 대한 데이터 불러오기
### EMI 행의 값 중 3인 값에 대하여 모든 값 불러오기
### 1. loc(locaktion) 함수 활용
csEmi3 = customerData.loc[ customerData.EMI == 3]
print(csEmi3)##print문 쓰면 별로 안이쁨

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [17]:
##데이터프레임을 그냥 부를때가 더 이쁨
csEmi3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [18]:
#열의 인덱스로 검색하기, loc 다음 []안에 열의 범위를 지정하면 해당 열에 대한 정보만 호출
customerData.loc[0:3]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird

In [19]:
##다중조건을 활용하는 방법
## loc 함수 이후에 산술연산자를 활용하여 조건 중첩가능

customerData.loc[ (customerData.EMI == 3)&
                  (customerData.DEVICECOUNT > 5)]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [21]:
### 데이터의 타입변경 방법

## 1. 데이터 타입 완전변경 및 임시변경

customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [22]:
##기존의 데이터 변경, 컬럼명을 기존의 데이터로 지정하여 형변환 하면 기존의 데이터 변경

customerData["EMI"] =\
    customerData.EMI.astype(str) 
####데이터프레임명.컬럼명.형변환메소드(#str, int, float 등 사용가능)
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object